<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnlrD8Kw7nv94xhpghIZhXNwdJuNSw-HA</string>
	<key>GCM_SENDER_ID</key>
	<string>1036456782368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.revibe</string>
	<key>PROJECT_ID</key>
	<string>revibe-d6266</string>
	<key>STORAGE_BUCKET</key>
	<string>revibe-d6266.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036456782368:ios:9215cab0f65e91bc1a6a45</string>
</dict>
</plist>